<!-- <html> -->
<script type="text/javascript">
	var form;
	var dialog;
	let report;

	$(document).ready(function() {
		selectDetail();
	});


	function selectDetail(){
		let dataMap = {
			charge_no : "<%- charge_no %>"
		}
		$.ajax({
			type:"GET",
			dataType:"json",
			data:dataMap,
			url:"/api/charge/detail",
			success: function(response){
				console.log("response.data: ",response);
				report = response.data[0];

				$('#charge_no').val(report.charge_no);
				$('#name').val(report.name);
				$('#wallet_address').val(report.wallet_address);
				$('#purchase_method').val(report.purchase_method);
				$('#charge_type').val(report.charge_type);
				$('#purchase_amount').val(report.purchase_amount);
				$('#deposit_price').val(report.deposit_price);
				$('#transaction_id').html(report.transaction_id);
				$('#transaction_id').prop('href', "<%=config.info.etherscan_web_uri%>/tx/"+report.transaction_id);
				$('#add_dt').val(report.add_dt_str);


			},
			fail: function(data){
				console.log("error data: ",data);
			}
		})
	}


</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">충전 상세 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="charge_no" name="charge_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">이름</label>
								<input class="form-control input" id="name" name="name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">지갑주소</label>
								<input class="form-control input" id="wallet_address" name="wallet_address" disabled>
							</div>

							<div class="form-group">
								<label class="w120">지불방식</label><br/>
								<input class="form-control input" id="purchase_method" name="purchase_method" disabled>
							</div>

							<div class="form-group">
								<label class="w120">충전재화</label>
								<input class="form-control input" id="charge_type" name="charge_type" disabled>
							</div>

							<div class="form-group">
								<label class="w120">구매량</label>
								<input class="form-control input" id="purchase_amount" name="purchase_amount" disabled>
							</div>

							<div class="form-group">
								<label class="w120">지불금액</label>
								<input class="form-control input" id="deposit_price" name="deposit_price" disabled>
							</div>

							<div class="form-group">
								<label class="w120">트랜잭션 ID</label>
								<a id="transaction_id" name="transaction_id" href=""></a>

							</div>


							<div class="form-group">
								<label class="w120">충전 일자</label>
								<input class="form-control input" id="add_dt" name="add_dt" disabled>
							</div>



						</div>


						<div class="col-lg-6">




						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
