<!-- <html> -->
<script type="text/javascript">
	$(document).ready(function() {

		goSearch();

		$('input').keydown(function(key) {
			if (key.keyCode == 13) {
				goSearch();
			}
		});
	});



	function goSearch() {
		$(".table").dataTable().fnDestroy()

		$('.table').DataTable({

			"serverSide": true,
			"ajax": {
				"url": "/api/charge/list",
				"data": {
					"name": $('#name').val(),
					"wallet_address": $('#wallet_address').val(),
					"transaction_id": $('#transaction_id').val()
				}
			},
			"columns": [
				{ "data": "charge_no"	},
				{ "data": "name" },
				// { "data": "wallet_address" },
				// { "data": "purchase_method" },
				// { "data": "charge_type" },
				{ "data": "purchase_amount"	},
				{	"data": "deposit_price"	},
				{	"data": "transaction_id"	},
				{	"data": "add_dt_str"	},
			],
			"ordering": true,
			"order": [0, "desc"],
			"searching": false,
			"columnDefs": [{
					"width": "10%",
					"render": function(data, type, row) {
						/*<![CDATA[*/
						var str = '<a href="/view/charge/detail?charge_no='+data + '">'+data+'</a>';

						return str;
						//return data;
						/*]]>*/
					},
					"targets": 0
				},
				{ // 구매량

						"render": function(data, type, row) {
							/*<![CDATA[*/
							var str = data + " " +row.charge_type;
							return str;
							//return data;
							/*]]>*/
						},
						"targets": 2
					},
					{ // 지불금액

							"render": function(data, type, row) {
								/*<![CDATA[*/
								var str = data + " " + row.purchase_method;
								return str;
								//return data;
								/*]]>*/
							},
							"targets": 3
						},

				{
						"width": "10%",
						"render": function(data, type, row) {
							/*<![CDATA[*/
							var str = '<a href="<%=config.info.etherscan_web_uri%>/tx/'+data + '">'+data+'<a>';
							return str;
							//return data;
							/*]]>*/
						},
						"targets": 4
					},


			],
			"drawCallback": function() {

				//console.log(response.json)
				var api = this.api();
				api.$('#editPopup').click(function() {
					var value = this.attributes["value"].value;
					setEditPopup(value);
				});

				api.$('#removePopup').click(function() {
					var value = this.attributes["value"].value;
					setRemovePopup(value);
				});
			}
		});
	}

</script>



<div id="page-wrapper">


	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">충전리스트</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">

								<label>이름</label>
								<input class="form-control input" id="name" name="name">
							</div>
							<div class="form-group">
								<label>지갑주소</label>
								<input class="form-control input" id="wallet_address" name="wallet_address">
							</div>
							<div class="form-group">
								<label>트랜잭션ID</label>
								<input class="form-control input" id="transaction_id" name="wallet_address">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group" style="float:right;">
								<button type="button" class="btn btn-default" onclick="goSearch();">검색</button> <br />
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>충전번호</th>
											<th>이름</th>
											<!-- <th>지갑주소</th> -->
											<!-- <th>지불방식</th>
											<th>충전재화</th> -->
											<th>구매량</th>
											<th>지불금액</th>
											<th>TransactionID</th>
											<th>충전일자</th>
										</tr>
									</thead>

								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
