<!-- <html> -->
</div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <!-- <script src="/sbadmin2/vendor/jquery/jquery.min.js"></script> -->

  <!-- Bootstrap Core JavaScript -->
  <script src="/sbadmin2/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/sbadmin2/vendor/metisMenu/metisMenu.min.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- DataTables JavaScript -->
  <script src="/sbadmin2/vendor/datatables/js/jquery.dataTables.min.js"></script>
  <script src="/sbadmin2/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
  <script src="/sbadmin2/vendor/datatables-responsive/dataTables.responsive.js"></script>
  <script src="/sbadmin2/vendor/datatables-responsive/dataTables.responsive.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/sbadmin2/dist/js/sb-admin-2.js"></script>

  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
  $(document).ready(function() {
      $('#dataTables-example').DataTable({
          responsive: true
      });
  });
  </script>

</body>

</html>
