<!-- <html> -->
<script id="template-file-list" type="text/template">
	<div class="alert alert-info">
		제목 : ${title}<br/>
		파일정보 : ${play_sec}초 , ${file_size}, ${price} point<br/>
		판매수 :${sale_cnt}<br/>
	</div>
</script>

<script type="text/javascript">
	$(document).ready(function() {

		selectDetail();

		selectFileList();
	});


	function selectDetail(){
		let dataMap = {
			content_no : "<%- content_no %>"
		}
		$.ajax({
			type:"GET",
			dataType:"json",
			data:dataMap,
			url:"/api/content/contentDetail",
			success: function(response){
				console.log("response.data: ",response);
				let content = response.data;

				$('#content_no').val(content.content_no);

				var category_name = content.category_name;
				if(content.sub_category_name != null){
					category_name += "(" + content.sub_category_name + ")";
				}
				$('#category_name').val(category_name);
				$('#title').val(content.title);
				$('#img').attr('src', '<%=config.info.file_server_url%>' + '/' + content.image_path);
				$('#desc').val(content.desc);
				$('#company').val(content.company);
				$('#speaker').val(content.speaker);
				$('#subject').val(content.subject);
				$('#test_info').val(content.test_info);
				$('#favorite_cnt').val(content.favorite_cnt);


			},
			fail: function(data){
				console.log("error data: ",data);
			}
		})
	}


	function selectFileList(){
		let dataMap = {
			content_no : "<%- content_no %>"
		}
		$.ajax({
	    type: "GET",
	    url: "/api/content/fileList",
	    data: dataMap,
	    dataType: "json",
	    success: function(response) {
	      console.log(response);
				var list = response.data;

				for(var i=0; i<list.length; i++){
					list[i].price = addComma(list[i].price + '');
					list[i].file_size = getFileSize(list[i].file_size);
					list[i].play_sec = getTimeStringSeconds(list[i].play_sec);


				}

				var chargingListTemplateHTML = $('#template-file-list')[0].innerHTML;
        $.tmpl(chargingListTemplateHTML, list).appendTo('#fileList');

	    },
	    error: function(data) {
	      console.log('error');
	      console.log(data);
	    }

	  });
	}

</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Content 상세 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="content_no" name="content_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">카테고리</label>
								<input class="form-control input" id="category_name" name="category_name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">제목</label>
								<input class="form-control input" id="title" name="title" disabled>
							</div>

							<div class="form-group">
								<label class="w120">이미지</label><br/>
								<img src="" id="img" width="200px"/>
							</div>

							<div class="form-group">
								<label class="w120">설명</label>
								<textarea class="form-control input" rows="5" id="desc" name="desc" disabled></textarea>
							</div>

							<div class="form-group">
								<label class="w120">소속</label>
								<input class="form-control input" id="company" name="company" disabled>
							</div>

							<div class="form-group">
								<label class="w120">강사명</label>
								<input class="form-control input" id="speaker" name="speaker" disabled>
							</div>

							<div class="form-group">
								<label class="w120">과목</label>
								<input class="form-control input" id="subject" name="subject" disabled>
							</div>

							<div class="form-group">
								<label class="w120">시험정보</label>
								<input class="form-control input" id="test_info" name="test_info" disabled>
							</div>

							<div class="form-group">
								<label class="w120">좋아요수</label>
								<input class="form-control input" id="favorite_cnt" name="favorite_cnt" disabled>
							</div>

						</div>


						<div class="col-lg-6" id="fileList">







						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
