<!-- <html> -->
<script type="text/javascript">
<!--

//-->


$(document).ready(function() {

	goSearch();

	$('input').keydown(function (key) {
    if (key.keyCode == 13) {
      goSearch();
    }
  });
});


function goSearch(){
  $(".table").dataTable().fnDestroy()

  $('.table').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url" : "/api/content/fileList",
      "data" : {
        "title" : $('#title').val()
      }
    },
    "columns" : [
      {"data": "sale_file_no"},
      {"data": "category_no"},
      {"data": "title"},
      {"data": "speaker"},
      {"data": "price"},
			{"data": "stat"},
			{"data": "sale_cnt"},
      {"data": "add_dt_str"},
    ],
    "ordering": false,
    "searching": false,
    "columnDefs": [
      {
      	"width" : "10%",
      	"className": 'td-center',
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return data;
					/*]]>*/
				},
				"targets": 0
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					var name = row.category_name;
					if(row.sub_category_name != null){
						name = name + "(" + row.sub_category_name + ")";
					}
					return name;
					/*]]>*/
				},
				"targets": 1
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return '<a href="/view/content/fileDetail?sale_file_no=' + row.sale_file_no + '">' + data + '</a>';
					//return data;
					/*]]>*/
				},
				"targets": 2
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return addComma(data+"");
					/*]]>*/
				},
				"targets": 4
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					var stat_str = '';
					if(data == '00'){
						stat_str = '완료';
					}else if(data == '99'){
						stat_str = '삭제';
					}
					return stat_str;
					/*]]>*/
				},
				"targets": 5
			}
		],
    "drawCallback": function(response) {
			console.log(response.json);

      var api = this.api();
      api.$('#editPopup').click(function() {
        var value = this.attributes["value"].value;
        setEditPopup(value);
      });

      api.$('#removePopup').click(function() {
        var value = this.attributes["value"].value;
		    setRemovePopup(value);
		  });
    }
  });
}

</script>



<div id="page-wrapper">


  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Content</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
           	<div class="col-lg-6">
           		<div class="form-group">
                <label>제목</label>
                <input class="form-control input" id="title" name="title">
              </div>

           	</div>
           	<div class="col-lg-6">
           		<div class="form-group" style="float:right;">
                <button type="button" class="btn btn-default" onclick="goSearch();">검색</button> <br/>
              </div>
           	</div>
          </div>

          <div class="panel panel-default">
            <!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>카테고리</th>
                      <th>타이틀</th>
                      <th>강사</th>
                      <th>가격</th>
                      <th>상태</th>
											<th>판매수</th>
											<th>등록일</th>
                    </tr>
                  </thead>

                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
