<!-- <html> -->
<script type="text/javascript">
	$(document).ready(function() {

		selectDetail();
	});


	function selectDetail(){
		let dataMap = {
			sale_file_no : "<%- sale_file_no %>"
		}
		$.ajax({
			type:"GET",
			dataType:"json",
			data:dataMap,
			url:"/api/content/fileDetail",
			success: function(response){
				console.log("response.data: ",response);
				let file = response.data;

				$('#sale_file_no').val(file.sale_file_no);

				var category_name = file.category_name;
				if(file.sub_category_name != null){
					category_name += "(" + file.sub_category_name + ")";
				}
				$('#category_name').val(category_name);
				$('#title').val(file.title);
				$('#img').attr('src', '<%=config.info.file_server_url%>' + '/' + file.image_path);
				$('#desc').val(file.desc);
				$('#company').val(file.company);
				$('#speaker').val(file.speaker);
				$('#subject').val(file.subject);
				$('#test_info').val(file.test_info);
				$('#price').val(file.price);
				$('#file_name').val(file.file_name);
				$('#file_info').val(`${file.file_size} byte / ${file.play_sec} s`);
				$('#share_cnt').val(`FACEBOOK : ${file.facebook_share_cnt} , TWITTER : ${file.twitter_share_cnt}`);
				$('#favorite_cnt').val(file.favorite_cnt);
				$('#file_report_cnt').val(file.file_report_cnt);

			},
			fail: function(data){
				console.log("error data: ",data);
			}
		})
	}

</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Content 상세 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="sale_file_no" name="sale_file_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">카테고리</label>
								<input class="form-control input" id="category_name" name="category_name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">제목</label>
								<input class="form-control input" id="title" name="title" disabled>
							</div>

							<div class="form-group">
								<label class="w120">이미지</label><br/>
								<img src="" id="img" width="200px"/>
							</div>

							<div class="form-group">
								<label class="w120">설명</label>
								<textarea class="form-control input" rows="5" id="desc" name="desc" disabled></textarea>
							</div>

							<div class="form-group">
								<label class="w120">소속</label>
								<input class="form-control input" id="company" name="company" disabled>
							</div>

							<div class="form-group">
								<label class="w120">강사명</label>
								<input class="form-control input" id="speaker" name="speaker" disabled>
							</div>

							<div class="form-group">
								<label class="w120">과목</label>
								<input class="form-control input" id="subject" name="subject" disabled>
							</div>

							<div class="form-group">
								<label class="w120">시험정보</label>
								<input class="form-control input" id="test_info" name="test_info" disabled>
							</div>

							<div class="form-group">
								<label class="w120">가격</label>
								<input class="form-control input" id="price" name="price" disabled>
							</div>

							<div class="form-group">
								<label class="w120">파일명</label>
								<input class="form-control input" id="file_name" name="file_name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">용량/시간</label>
								<input class="form-control input" id="file_info" name="file_info" disabled>
							</div>

							<div class="form-group">
								<label class="w120">공유수</label>
								<input class="form-control input" id="share_cnt" name="share_cnt" disabled>
							</div>

							<div class="form-group">
								<label class="w120">좋아요수</label>
								<input class="form-control input" id="favorite_cnt" name="favorite_cnt" disabled>
							</div>

							<div class="form-group">
								<label class="w120">신고수</label>
								<input class="form-control input" id="file_report_cnt" name="file_report_cnt" disabled>
							</div>

						</div>


						<div class="col-lg-6">




						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
