<!-- <html> -->
<script type="text/javascript">
<!--

//-->


$(document).ready(function() {

	$('#purchase_stat').append("<option value=''>전체</option>");
	for(var idx in PURCHASE_STAT){
		var result = PURCHASE_STAT[idx];
		var option = $("<option value='" + idx + "'>"+result.msg+"</option>");
		$('#purchase_stat').append(option);
	}


	goSearch();

	$('input').keydown(function (key) {
    if (key.keyCode == 13) {
      goSearch();
    }
  });
});


function goSearch(){
  $(".table").dataTable().fnDestroy()

  $('.table').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url" : "/api/content/purchaseList",
      "data" : {
				purchase_stat: $("#purchase_stat option:selected").val(),
				mem_id: $('#mem_id').val()
      }
    },
    "columns" : [
      {"data": "purchase_no"},
      {"data": "title"},
      {"data": "name"},
      {"data": "sale_mem_name"},
      {"data": "point"},
			{"data": "purchase_method"},
			{"data": "stat"},
      {"data": "add_dt_str"},
    ],
    "ordering": false,
    "searching": false,
    "columnDefs": [
      {
      	"width" : "10%",
      	"className": 'td-center',
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return data;
					/*]]>*/
				},
				"targets": 0
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return '<a href="/view/content/purchaseDetail?purchase_no=' + row.purchase_no + '">' + data + '</a>';
					//return data;
					/*]]>*/
				},
				"targets": 1
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return addComma(data+"");
					/*]]>*/
				},
				"targets": 4
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return PURCHASE_STAT[data].msg;
					/*]]>*/
				},
				"targets": 6
			}
		],
    "drawCallback": function(response) {
			console.log(response.json);

      var api = this.api();
      api.$('#editPopup').click(function() {
        var value = this.attributes["value"].value;
        setEditPopup(value);
      });

      api.$('#removePopup').click(function() {
        var value = this.attributes["value"].value;
		    setRemovePopup(value);
		  });
    }
  });
}

</script>



<div id="page-wrapper">


  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">구매</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
           	<div class="col-lg-6">
           		<div class="form-group">
								<label>회원아이디(이메일)</label>
								<input class="form-control input" id="mem_id" name="mem_id">
							</div>
							<div>
                <label>상태</label>
								<select class="form-control" id="purchase_stat">
								</select>
              </div>

           	</div>
           	<div class="col-lg-6">
           		<div class="form-group" style="float:right;">
                <button type="button" class="btn btn-default" onclick="goSearch();">검색</button> <br/>
              </div>
           	</div>
          </div>

          <div class="panel panel-default">
            <!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>제목</th>
                      <th>구매자</th>
                      <th>판매자</th>
                      <th>구매가격</th>
											<th>구매</th>
                      <th>상태</th>
											<th>구매일시</th>
                    </tr>
                  </thead>

                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
