<!-- <html> -->
<script type="text/javascript">
	var form;
	var dialog;
	let report;

	$(document).ready(function() {

		for(var idx in PURCHASE_STAT){
			var result = PURCHASE_STAT[idx];
      var option = $("<option value='" + idx + "'>"+result.msg+"</option>");
      $('#purchase_stat').append(option);
    }

		for(var idx in REFUND_RESULT){
			var result = REFUND_RESULT[idx];
      var option = $("<option value='" + idx + "'>"+result.msg+"</option>");
      $('#refund_result').append(option);
    }

		selectDetail();
	});


	function selectDetail(){
		let dataMap = {
			purchase_no : "<%- purchase_no %>"
		}
		$.ajax({
			type:"GET",
			dataType:"json",
			data:dataMap,
			url:"/api/content/purchaseDetail",
			success: function(response){
				console.log("response.data: ",response);
				purchase = response.data;

				$('#purchase_no').val(purchase.purchase_no);
				$('#name').val(`${purchase.name} / ${purchase.mem_id}`);
				$('#sale_mem_name').val(`${purchase.sale_mem_name} / ${purchase.sale_mem_id}`);
				$('#title').val(purchase.title);
				$('#img').attr('src', '<%=config.info.file_server_url%>' + '/' + purchase.image_path);
				$('#purchase_method').val(purchase.purchase_method);
				$('#point').val(purchase.point);
				$('#add_dt_str').val(purchase.add_dt_str);
				$('#facebook_share_yn').val(`${purchase.facebook_share_yn} / ${purchase.facebook_share_tx_id}`);
				$('#twitter_share_yn').val(`${purchase.twitter_share_yn} / ${purchase.facebook_share_tx_id}`);
				$('#evaluation_score').val(purchase.evaluation_score);
				$('#purchase_stat').val(purchase.stat);
				$('#refund_request_dt').val(purchase.refund_request_dt);
				$('#refund_type').val(purchase.refund_type);
				$('#refund_message').val(purchase.refund_message);
				$('#refund_result').val(purchase.refund_result);

				if(purchase.stat !== '98'){
					$('#btn_report').attr('disabled', true);
				}

			},
			fail: function(data){
				console.log("error data: ",data);
			}
		})
	}

	function modifyProcess(){
		if(confirm('환불처리 하시겠습니까?')){
			var dataMap = {
				purchase_no: "<%- purchase_no %>",
				stat: $("#purchase_stat option:selected").val(),
				refund_result: $("#refund_result option:selected").val()
			}

			$.ajax({
				type: "POST",
				dataType: "json",
				data: dataMap,
				url: "/api/content/refundProcess",
				success: function(response) {
					console.log("response.data: ", response);
					alert('정상처리 되었습니다.');
					location.reload();

				},
				error:function(request,status,error){
        	alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				}
			});
		}else{
			return;
		}

	}



</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">구매 상세 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="purchase_no" name="purchase_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">구매자</label>
								<input class="form-control input" id="name" name="name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">판매자</label>
								<input class="form-control input" id="sale_mem_name" name="sale_mem_name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">제목</label>
								<input class="form-control input" id="title" name="title" disabled>
							</div>

							<div class="form-group">
								<label class="w120">이미지</label><br/>
								<img src="" id="img" width="200px"/>
							</div>

							<div class="form-group">
								<label class="w120">구매</label>
								<input class="form-control input" id="purchase_method" name="purchase_method" disabled>
							</div>

							<div class="form-group">
								<label class="w120">구매가격</label>
								<input class="form-control input" id="point" name="point" disabled>
							</div>

							<div class="form-group">
								<label class="w120">구매일시</label>
								<input class="form-control input" id="add_dt_str" name="add_dt_str" disabled>
							</div>

							<div class="form-group">
								<label class="w120">페이스북공유</label>
								<input class="form-control input" id="facebook_share_yn" name="facebook_share_yn" disabled>
							</div>

							<div class="form-group">
								<label class="w120">트위터공유</label>
								<input class="form-control input" id="twitter_share_yn" name="twitter_share_yn" disabled>
							</div>

							<div class="form-group">
								<label class="w120">평가점수</label>
								<input class="form-control input" id="evaluation_score" name="evaluation_score" disabled>
							</div>

							<div class="form-group">
                  <label>상태</label>
                  <select class="form-control" id="purchase_stat">

                  </select>
              </div>

							<div class="form-group">
								<label class="w120">환불요청일</label>
								<input class="form-control input" id="refund_request_dt" name="refund_request_dt" disabled>
							</div>

							<div class="form-group">
								<label class="w120">환불타입</label>
								<input class="form-control input" id="refund_type" name="refund_type" disabled>
							</div>

							<div class="form-group">
								<label class="w120">환불 메시지</label>
								<textarea class="form-control input" rows="5" id="refund_message" name="refund_message" disabled></textarea>
							</div>

							<div class="form-group">
								<label class="w120">환불결과</label>
								<select class="form-control" id="refund_result">

								</select>
							</div>



							<div class="form-group">
                <button type="button" id="btn_report" class="btn btn-primary btn-lg" onclick="modifyProcess();">환불 처리</button> <br />
              </div>

						</div>


						<div class="col-lg-6">


						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
