<!-- <html> -->
<script type="text/javascript">
	var form;
	var dialog;
	let report;

	$(document).ready(function() {

		for(var idx in FILE_REPORT_RESULT){
			var result = FILE_REPORT_RESULT[idx];
      var option = $("<option value='" + idx + "'>"+result.msg+"</option>");
      $('#result_type').append(option);
    }

		for(var idx in FILE_REPORT_REWARD){
			var reward = FILE_REPORT_REWARD[idx];
      var option = $("<option value='" + idx + "'>"+reward.msg+"</option>");
      $('#reward_type').append(option);
    }



		dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 350,
      width: 350,
      modal: true,
      buttons: {
        "OK": idPwdValidation

      }
    });

		form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });

		selectDetail();
	});


	function selectDetail(){
		let dataMap = {
			file_report_no : "<%- file_report_no %>"
		}
		$.ajax({
			type:"GET",
			dataType:"json",
			data:dataMap,
			url:"/api/content/reportDetail",
			success: function(response){
				console.log("response.data: ",response);
				report = response.data;

				$('#file_report_no').val(report.file_report_no);
				$('#name').val(report.name);
				$('#title').val(report.title);
				$('#img').attr('src', '<%=config.info.file_server_url%>' + '/' + report.image_path);
				$('#report_type').val(FILE_REPORT_TYPE[report.report_type].msg);
				$('#report_message').val(report.report_message);
				//$('#file_url').val('<%=config.info.file_server_url%>' + '/' + report.server_file_path + '.MS4');
				$('#file_url').html('<%=config.info.file_server_url%>' + '/' + report.server_file_path + '.MS4');
				$('#add_dt_str').val(report.add_dt_str);

				$('#reward_tx_id').html(report.reward_tx_id);
				$('#result_type').val(report.result_type);
				$('#reward_type').val(report.reward_type);

				//검토중이 아니면 신고처리 못하게함.
				if(report.result_type !== '00'){
					$('#btn_report').attr('disabled', true);
				}

			},
			fail: function(data){
				console.log("error data: ",data);
			}
		})
	}


	function modify(){

		//로그인 아이디 비밀번호 묻는 다이얼로그를 띄운다.
		dialog.dialog( "open" );


	}

	function idPwdValidation(){

		//아이디 체크
		let user_id = $('#user_id').val();
		if($.trim(user_id) === ''){
			toastr.options = {
					closeButton: true,
					progressBar: false,
					showMethod: 'slideDown',
					timeOut: 3000
			};
			toastr.success('', '아이디를 입력해주세요.');

			$('#user_id').focus();
			return false;
		}

		let pwd = $('#pwd').val();
		if($.trim(pwd) === ''){
			toastr.options = {
					closeButton: true,
					progressBar: false,
					showMethod: 'slideDown',
					timeOut: 3000
			};
			toastr.success('', '비밀번호를 입력해주세요.');
			$('#pwd').focus();
			return false;
		}

		$( this ).dialog( "close" );
		modifyProcess();
	}



	function modifyProcess(){
		showLoading();

		var dataMap = {
			file_report_no: "<%- file_report_no %>",
			result_type: $("#result_type option:selected").val(),
			reward_type: $("#reward_type option:selected").val(),
			user_id: $('#user_id').val(),
      pwd: SHA256($('#pwd').val()),
			mem_no: report.mem_no

		}

		$.ajax({
			type: "POST",
			dataType: "json",
			data: dataMap,
			url: "/api/content/reportResultProcess",
			success: function(response) {
				console.log("response.data: ", response);
				hideLoading();
				alert('정상처리 되었습니다.');
				location.reload();

			},
			error:function(request,status,error){
				hideLoading();
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	}

</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">신고 상세 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="file_report_no" name="file_report_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">이름</label>
								<input class="form-control input" id="name" name="name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">제목</label>
								<input class="form-control input" id="title" name="title" disabled>
							</div>

							<div class="form-group">
								<label class="w120">이미지</label><br/>
								<img src="" id="img" width="200px"/>
							</div>

							<div class="form-group">
								<label class="w120">신고타입</label>
								<input class="form-control input" id="report_type" name="report_type" disabled>
							</div>

							<div class="form-group">
								<label class="w120">신고 메시지</label>
								<textarea class="form-control input" rows="5" id="report_message" name="report_message" disabled></textarea>
							</div>

							<div class="form-group">
								<label class="w120">신고일</label>
								<input class="form-control input" id="add_dt_str" name="add_dt_str" disabled>
							</div>

							<div class="form-group">
								<label class="w120">영상 URL</label>
								<p class="form-control-static" id="file_url"></p>
							</div>

							<div class="form-group">
								<label class="w120">신고 보상 트랜잭션 ID</label>
								<p class="form-control-static" id="reward_tx_id"></p>
							</div>

							<div class="form-group">
                  <label>처리 결과</label>
                  <select class="form-control" id="result_type">

                  </select>
              </div>

							<div class="form-group">
                  <label>처리 보상</label>
                  <select class="form-control" id="reward_type">

                  </select>
              </div>

							<div class="form-group">
                <button type="button" id="btn_report" class="btn btn-primary btn-lg" onclick="modify();">신고 처리</button> <br />
              </div>

						</div>


						<div class="col-lg-6">




						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->


<div id="dialog-form" title="Create new user">
	<p class="validateTips">User Check.</p>

	<form>
		<fieldset>
			<label for="name">ID</label>
			<input type="text" name="user_id" id="user_id" value="" class="text ui-widget-content ui-corner-all">
			<label for="password">Password</label>
			<input type="password" name="pwd" id="pwd" value="" class="text ui-widget-content ui-corner-all">

			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	</form>
</div>
