<!-- <html> -->
<script type="text/javascript">
<!--

//-->


$(document).ready(function() {

	goSearch();

	$('input').keydown(function (key) {
    if (key.keyCode == 13) {
      goSearch();
    }
  });
});


function goSearch(){
  $(".table").dataTable().fnDestroy()

  $('.table').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url" : "/api/content/reportList",
      "data" : {

      }
    },
    "columns" : [
      {"data": "file_report_no"},
      {"data": "title"},
      {"data": "name"},
      {"data": "report_type"},
			{"data": "stat"},
      {"data": "add_dt_str"}
    ],
    "ordering": false,
    "searching": false,
    "columnDefs": [
      {
      	"width" : "10%",
      	"className": 'td-center',
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return data;
					/*]]>*/
				},
				"targets": 0
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return '<a href="/view/content/reportDetail?file_report_no=' + row.file_report_no + '">' + data + '</a>';
					//return data;
					/*]]>*/
				},
				"targets": 1
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return FILE_REPORT_TYPE[data].msg;
					/*]]>*/
				},
				"targets": 3
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return FILE_REPORT_RESULT[data].msg;
					/*]]>*/
				},
				"targets": 4
			}
		],
    "drawCallback": function(response) {
			console.log(response.json);

      var api = this.api();
      api.$('#editPopup').click(function() {
        var value = this.attributes["value"].value;
        setEditPopup(value);
      });

      api.$('#removePopup').click(function() {
        var value = this.attributes["value"].value;
		    setRemovePopup(value);
		  });
    }
  });
}

</script>



<div id="page-wrapper">


  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">신고</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
           	<div class="col-lg-6">
           		<div class="form-group">
                <!-- <label>제목</label>
                <input class="form-control input" id="title" name="title"> -->
              </div>

           	</div>
           	<div class="col-lg-6">
           		<div class="form-group" style="float:right;">
                <button type="button" class="btn btn-default" onclick="goSearch();">검색</button> <br/>
              </div>
           	</div>
          </div>

          <div class="panel panel-default">
            <!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>제목</th>
                      <th>이름</th>
                      <th>신고타입</th>
                      <th>처리상태</th>
											<th>일시</th>
                    </tr>
                  </thead>

                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
