<!-- <html> -->
<script type="text/javascript">

  $(document).ready(function() {

    var graph_size = 30;
    var graph_data;
		var dataMap={
      graph_size:graph_size
		};
		$.ajax({
			type:"GET",
			dataType:"json",
			url:"/api/purchase/count",
			data:dataMap,
			success:function(response){

				console.log("response.data: ", response.data);

        drawBarChart(response.data, graph_size)

			},
			fail:function(data){
				console.log("error data: ", data);
			}
		});


    selectMemberCountByDay();

    //가입현황
    function selectMemberCountByDay(){
      var dataMap={
        graph_size:graph_size
  		};
  		$.ajax({
  			type:"GET",
  			dataType:"json",
  			url:"/api/member/selectMemberCountByDay",
  			data:dataMap,
  			success:function(response){

  				console.log("response.data: ", response);

          Morris.Bar({
              element: 'member-bar-chart',
              data: response,
              xkey: 'join_date',
              ykeys: ['cnt'],
              labels: ['가입수'],
              hideHover: 'auto',
              resize: true
          });
  			},
  			fail:function(data){
  				console.log("error data: ", data);
  			}
  		});
    }


  });



</script>



<div id="page-wrapper">

  <div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Dashboard </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

  <div class="col-lg-6">
      <div class="panel panel-default">
          <div class="panel-heading">
              가입현황
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div id="member-bar-chart"></div>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>


  <div class="col-lg-6">
      <div class="panel panel-default">
          <div class="panel-heading">
              구매현황
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div id="morris-bar-chart"></div>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>

  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">구매현황</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
		<div class="col-lg-10">
				<div id="morris-bar-chart"></div>
		</div>

  </div>

  <!-- <div class="row">
		<div class="col-lg-8">
				<div id="member-bar-chart"></div>
		</div>

  </div> -->

  <!-- <div class="row">
    	<div class="col-lg-3 col-md-6">
	    	<div class="panel panel-red">
	        	<div class="panel-heading">
	            	<div class="row">
	                	<div class="col-xs-3">
	                    	<i class="fa fa-heart fa-5x"></i>
	                   	</div>
	                   	<div class="col-xs-9 text-right">
	                    	<div class="huge" id="today_heart"></div>
	                       	<div>Today Coin</div>
	                   	</div>
	               	</div>
	           	</div>
	           	<a href="#">
	            	<div class="panel-footer">
	                	<span class="pull-left">View Details</span>
	                   	<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                   	<div class="clearfix"></div>
	               	</div>
	           	</a>
	       	</div>
	   	</div>

	   	<div class="col-lg-3 col-md-6">
	    	<div class="panel panel-green">
	        	<div class="panel-heading">
	            	<div class="row">
	                	<div class="col-xs-3">
	                    	<i class="fa fa-star fa-5x"></i>
	                   	</div>
	                   	<div class="col-xs-9 text-right">
		                    <div class="huge" id="today_heart_user"></div>
	                       	<div>Today User!</div>
	                   	</div>
	               	</div>
	           	</div>
	           	<a href="#">
	            	<div class="panel-footer">
	                   	<span class="pull-left">View Details</span>
	                   	<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                   	<div class="clearfix"></div>
	               	</div>
	           	</a>
	       	</div>
	   	</div>

		<div class="col-lg-3 col-md-6">
	    	<div class="panel panel-primary">
	        	<div class="panel-heading">
	            	<div class="row">
	                	<div class="col-xs-3">
	                    	<i class="fa fa-user fa-5x"></i>
	                   	</div>
	                   	<div class="col-xs-9 text-right">
	                    	<div class="huge" id="today_user"></div>
	                       	<div>Today Point!</div>
	                   	</div>
	               	</div>
	           	</div>
	           	<a href="#">
	            	<div class="panel-footer">
	                	<span class="pull-left">View Details</span>
	                   	<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                   	<div class="clearfix"></div>
	               	</div>
	           	</a>
	       	</div>
	   	</div>
   	</div> -->
  <!-- /.row -->


</div>
<!-- /#page-wrapper -->
