<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NemoDax CMS</title>

  <!-- Bootstrap Core CSS -->
  <link href="/sbadmin2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="/sbadmin2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/sbadmin2/dist/css/sb-admin-2.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/toastr.min.css">

  <!-- Custom Fonts -->
  <link href="/sbadmin2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->



</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Please Sign In</h3>
          </div>
          <div class="panel-body">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" placeholder="User ID" id="user_id" name="user_id" type="text" autofocus>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" id="pwd" name="pwd" type="password" value="">
                </div>
                <!-- <div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                    </label>
                </div> -->
                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="btn btn-success btn-lg btn-block" onclick="login();">Login</button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="/sbadmin2/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/sbadmin2/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/sbadmin2/vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/sbadmin2/dist/js/sb-admin-2.js"></script>
  <script src="/js/sha256.js"></script>
  <script src="/js/toastr.min.js"></script>

  <script>
  $(document).ready(function() {

    $('input').keydown(function (key) {
      if (key.keyCode == 13) {
        login();
      }
    });
  });

    function login(){
      //아이디(이메일) 체크
      let user_id = $('#user_id').val();
      if($.trim(user_id) === ''){
        toastr.options = {
            closeButton: true,
            progressBar: false,
            showMethod: 'slideDown',
            timeOut: 3000
        };
        toastr.success('', '아이디를 입력해주세요.');

        $('#user_id').focus();
        return false;
      }

      let pwd = $('#pwd').val();
      if($.trim(pwd) === ''){
        toastr.options = {
            closeButton: true,
            progressBar: false,
            showMethod: 'slideDown',
            timeOut: 3000
        };
        toastr.success('', '비밀번호를 입력해주세요.');
        $('#pwd').focus();
        return false;
      }


      var dataMap = {
        user_id : $('#user_id').val(),
        pwd : SHA256($('#pwd').val())
      };

      $.ajax({
        type: "GET",
        url: "/api/admin/login",
        data : dataMap,
        dataType: "json",
        success: function( data ) {
           console.log(data);
          // console.log(data.err_code);
          if(data.err_code === undefined){
            location.href = '/';

          }else{
            toastr.options = {
                closeButton: true,
                progressBar: false,
                showMethod: 'slideDown',
                timeOut: 3000
            };
            toastr.success('', data.err_msg);
          }

        },
        error: function( data ) {
          console.log('error');
          console.log(data);
        }

      });
    }
  </script>

</body>

</html>
