<!-- <html> -->
<script type="text/javascript">
	$(document).ready(function() {

		selectDetail();

		selectWalletList();

	});

	function pointHistory() {
		var mem_no = $('#mem_no').val();
		window.open("/view/member/pointHistory?mem_no=" + mem_no, "팝업", 'width=860, height=600, menubar=no, status=no, toolbar=no')
	}

	function payPointMenu() {
		if($('#payPointForm').css('display') == 'none'){
			$('#payPointForm').css('display', 'block');
		} else {
			$('#payPointForm').css('display', 'none');
		}
	}

	function payConfirm() {
		var pointAmount;
		if( $('#pointAmount').val() == '' ){ alert('지급할 포인트를 입력해주세요'); }
		else { pointAmount = $('#pointAmount').val()}

		var memo = $('#memo').val();
		var mem_no = $('#mem_no').val()


		var dataMap = {
				mem_no:mem_no,
				point:pointAmount,
				memo:memo
		}
		$.ajax({
			type:"POST",
			data:dataMap,
			dataType:"json",
			url:"/api/member/payPoint",
			success:function(response){
				console.log("response.data: ",response.data);
				alert("포인트가 정상 지급되었습니다.");
				location.reload();
			},
			error:function(request,status,error){
				console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	}


	function selectDetail() {
		let dataMap = {
			mem_no: "<%- mem_no %>"
		}
		$.ajax({
			type: "GET",
			dataType: "json",
			data: dataMap,
			url: "/api/member/detail",
			success: function(response) {
				console.log("response.data: ", response);
				let member = response.data;
				$('#mem_no').val(member.mem_no);
				$('#mem_id').val(member.mem_id);
				$('#phone').val(member.phone);
				$('#name').val(member.name);
				$('#birthday').val(member.birthday);
				$('#gender').val(member.gender);
				$('#introduce').val(member.introduce);
				$('#reliabilty').val(`${member.reliabilty_level} Level / ${member.reliabilty_score} Score`);
				$('#add_dt_str').val(member.add_dt_str);
				$('#last_login_dt_str').val(member.last_login_dt_str);
				$('#point').val(member.point);

			},
			fail: function(data) {
				console.log("error data: ", data);
			}
		})
	}

	let defaultProvider;
	if ('<%=config.info.id%>' === 'real') {
		defaultProvider = ethers.getDefaultProvider();
	} else {
		defaultProvider = ethers.getDefaultProvider('rinkeby');
	}

	async function selectWalletList() {
		let dataMap = {
			mem_no: "<%- mem_no %>"
		}
		$.ajax({
			type: "GET",
			dataType: "json",
			data: dataMap,
			url: "/api/member/walletList",
			success: function(response) {
				console.log("response.data: ", response.data);
				let walletList = response.data;
				for (var idx in walletList) {
					let wallet = walletList[idx];
					setBalance(wallet);





				}

			},
			fail: function(data) {
				console.log("error data: ", data);
			}
		})
	}

	async function setBalance(wallet) {
		let address_info = `address : ${wallet.wallet_address}`;
		/*
			ehter 구하기
		*/
		await defaultProvider.getBalance(wallet.wallet_address).then((balance) => {
			// balance is a BigNumber (in wei); format is as a sting (in ether)
			let etherString = ethers.utils.formatEther(balance);
			console.log("Balance: " + etherString);
			address_info += `<br/> ETH : ${etherString}`;
		});

		/*
			NemoCoin 구하기
		*/
		let data = getFuncHexData("balanceOf(address)", wallet.wallet_address);
		console.log(data);

		let transaction = {
			from: wallet.wallet_address,
			to: erc20_sc_address,
			data: data
		}

		await defaultProvider.call(transaction).then((result) => {
			let coinString = ethers.utils.formatEther(result);
			console.log("Nemo Balance: " + coinString);
			address_info += `<br/> Coin : ${coinString}`;
		});

		//화면에 보여주기.
		$('#' + wallet.wallet_type + '_info').html(address_info);

	}
</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">상세 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="mem_no" name="mem_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">id(email)</label>
								<input class="form-control input" id="mem_id" name="mem_id" disabled>
							</div>

							<div class="form-group">
								<label class="w120">핸드폰번호</label>
								<input class="form-control input" id="phone" name="phone" disabled>
							</div>

							<div class="form-group">
								<label class="w120">이름</label>
								<input class="form-control input" id="name" name="name" disabled>
							</div>

							<div class="form-group">
								<label class="w120">생년월일</label>
								<input class="form-control input" id="birthday" name="birthday" disabled>
							</div>

							<div class="form-group">
								<label class="w120">성별</label>
								<input class="form-control input" id="gender" name="gender" disabled>
							</div>

							<div class="form-group">
								<label class="w120">소개</label>
								<textarea class="form-control input" rows="5" id="introduce" name="introduce" disabled></textarea>
							</div>

							<div class="form-group">
								<label class="w120">신뢰도</label>
								<input class="form-control input" id="reliabilty" name="reliabilty" disabled>
							</div>

							<div class="form-group">
								<label class="w120">가입일</label>
								<input class="form-control input" id="add_dt_str" name="add_dt_str" disabled>
							</div>

							<div class="form-group">
								<label class="w120">마지막 로그인</label>
								<input class="form-control input" id="last_login_dt_str" name="last_login_dt_str" disabled>
							</div>

							<div class="form-group">
								<label class="w120">NEMO Point</label>
								<input class="form-control input" id="point" name="point" disabled>
							</div>

						</div>


						<div class="col-lg-6">

							<div class="panel panel-default">
								<div class="panel-heading">
									REGULAR
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
									<div class="alert alert-info" id="REGULAR_info">

									</div>

								</div>
								<!-- .panel-body -->
							</div>
							<!-- /.panel -->

							<div class="panel panel-default">
								<div class="panel-heading">
									DIVIDEND
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
									<div class="alert alert-info" id="DIVIDEND_info">

									</div>

								</div>
								<!-- .panel-body -->
							</div>
							<!-- /.panel -->


							<div class="col-lg-12">
								<div class="form-group">
									<button type="button" class="btn btn-primary btn-lg" onclick="pointHistory();">포인트히스토리</button>
									<button type="button" class="btn btn-primary btn-lg" onclick="payPointMenu();">포인트지급</button> <br />
								</div>
							</div>

							<div class="col-lg-12" id="payPointForm" style="display:none">
								<div class="form-group">
									<label class="w120">포인트 지급량</label>
									<input class="form-control input" id="pointAmount" name="pointAmount" >
								</div>

								<div class="form-group">
									<label class="w120">메모</label>
									<textarea class="form-control input" rows="5" id="memo" name="memo" ></textarea>
								</div>

								<button type="button" id="confirm" class="btn btn-primary btn-sm" onclick="payConfirm()">확인</button>
								<button type="button" id="cancel" class="btn btn-primary btn-sm" onclick="payPointMenu()">취소</button>
							</div>

						</div>


					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
