<!-- <html> -->
<script type="text/javascript">
<!--

//-->


$(document).ready(function() {

	goSearch();

	$('input').keydown(function (key) {
    if (key.keyCode == 13) {
      goSearch();
    }
  });
});


function goSearch(){
  $(".table").dataTable().fnDestroy()

  $('.table').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url" : "/api/member/list",
      "data" : {
        "name" : $('#name').val(),
        "mem_id" : $('#mem_id').val()
      }
    },
    "columns" : [
      {"data": "mem_no"},
      {"data": "mem_id"},
      {"data": "name"},
      {"data": "gender"},
      {"data": "point"},
      {"data": "add_dt_str"},
    ],
    "ordering": false,
    "searching": false,
    "columnDefs": [
      {
      	"width" : "10%",
      	"className": 'td-center',
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return data;
					/*]]>*/
				},
				"targets": 0
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return '<a href="/view/member/detail?mem_no=' + row.mem_no + '">' + data + '</a>';
					//return data;
					/*]]>*/
				},
				"targets": 1
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return data;
					/*]]>*/
				},
				"targets": 3
			},
			{
				"render": function(data, type, row) {
					/*<![CDATA[*/
					return addComma(data+"");
					/*]]>*/
				},
				"targets": 4
			}
		],
    "drawCallback": function() {
      var api = this.api();
      api.$('#editPopup').click(function() {
        var value = this.attributes["value"].value;
        setEditPopup(value);
      });

      api.$('#removePopup').click(function() {
        var value = this.attributes["value"].value;
		    setRemovePopup(value);
		  });
    }
  });
}

</script>



<div id="page-wrapper">


  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">회원</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
           	<div class="col-lg-6">
           		<div class="form-group">
                <label>ID(Email)</label>
                <input class="form-control input" id="mem_id" name="mem_id">
              </div>
              <div class="form-group">
                <label>이름</label>
                <input class="form-control input" id="name" name="name">
              </div>

           	</div>
           	<div class="col-lg-6">
           		<div class="form-group" style="float:right;">
                <button type="button" class="btn btn-default" onclick="goSearch();">검색</button> <br/>
              </div>
           	</div>
          </div>

          <div class="panel panel-default">
            <!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>회원번호</th>
                      <th>id</th>
                      <th>이름</th>
                      <th>성별</th>
                      <th>포인트</th>
                      <th>가입일</th>
                    </tr>
                  </thead>

                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
