<!-- <html> -->

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>NemoDax CMS</title>

	<!-- Bootstrap Core CSS -->
	<link href="/sbadmin2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- MetisMenu CSS -->
	<link href="/sbadmin2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">


	<!-- DataTables CSS -->
  <link href="/sbadmin2/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="/sbadmin2/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">


	<!-- Custom CSS -->
	<link href="/sbadmin2/dist/css/sb-admin-2.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/toastr.min.css">

	<!-- Custom Fonts -->
	<link href="/sbadmin2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
	<!-- jQuery -->
	<script src="/sbadmin2/vendor/jquery/jquery.min.js"></script>


</head>


<body>


	<!-- <div id="page-wrapper"> -->


	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">포인트 히스토리</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
				<!-- /.panel-heading -->
				<div class="panel-body">

					<div class="panel panel-default">
						<!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>번호</th>

											<th>유형</th>
											<th>포인트</th>
											<th>메모</th>
											<th>일시</th>
										</tr>
									</thead>

								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- </div> -->
	<!-- /#page-wrapper -->


	<script type="text/javascript">


		$(document).ready(function() {

			goSearch();

			$('input').keydown(function(key) {
				if (key.keyCode == 13) {
					goSearch();
				}
			});
		});


		function goSearch() {

			$(".table").dataTable().fnDestroy()

			$('.table').DataTable({
				"processing": true,
				"serverSide": true,
				"ajax": {
					"url": "/api/member/pointHistory",
					"data": {
						"mem_no": "<%-mem_no%>"
					}

				},
				"columns": [{
						"data": "point_history_no"
					},

					{
						"data": "use_type"
					},
					{
						"data": "point"
					},
					{
						"data": "memo"
					},
					{
						"data": "add_dt_str"
					},
				],
				"ordering": false,
				"searching": false,
				"columnDefs": [{
						"width": "10%",
						"className": 'td-center',
						"render": function(data, type, row) {
							/*<![CDATA[*/
							return data;
							/*]]>*/
						},
						"targets": 0
					},


				],
				"drawCallback": function() {
					var api = this.api();
					api.$('#editPopup').click(function() {
						var value = this.attributes["value"].value;
						setEditPopup(value);
					});

					api.$('#removePopup').click(function() {
						var value = this.attributes["value"].value;
						setRemovePopup(value);
					});
				}
			});
		}
	</script>

</body>

<!-- /#wrapper -->

<!-- jQuery -->
<!-- <script src="/sbadmin2/vendor/jquery/jquery.min.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="/sbadmin2/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/sbadmin2/vendor/metisMenu/metisMenu.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- DataTables JavaScript -->
<script src="/sbadmin2/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/sbadmin2/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="/sbadmin2/vendor/datatables-responsive/dataTables.responsive.js"></script>
<script src="/sbadmin2/vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/sbadmin2/dist/js/sb-admin-2.js"></script>

</html>
