<!-- <html> -->


<script type="text/javascript">
  function createLetter(){
    var top_notice_no = $('#top_notice_no').val();
    var date = $('#date').val();
    var title = $('#title').val();
    var desc = $('#desc').val();
    var link = $('#link').val();

    dataMap = {
      top_notice_no: null,
      date:date,
      title: title,
      desc: desc,
      link: link,
    }

    $.ajax({
      type:"GET",
      dataType:"json",
      data:dataMap,
      url:"/api/topInfo/create",
      success: function(response){
        
          console.log("response.data: ",response.data);
          location.href = "/view/topInfo/list";
      },
      fail: function(data){
        console.log("error data: ",data);
      }
    })
  }

	$(document).ready(function() {
    $("#date").datepicker(
      {dateFormat: 'yymmdd' }
    );
	});


</script>


<div id="page-wrapper">

  <div class="row">
    <!-- /.col-lg-12 -->
  </div>

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">상단공지 등록 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="top_notice_no" name="top_notice_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">일정</label>
								<input class="form-control input" id="date" name="date">
							</div>

							<div class="form-group">
								<label class="w120">제목</label>
								<input class="form-control input" id="title" name="title">
							</div>

							<div class="form-group">
								<label class="w120">내용</label>
								<textarea cols="50" rows ="20" class="form-control input" id="desc" name="desc"></textarea>
							</div>

							<div class="form-group">
								<label class="w120">링크</label>
								<input class="form-control input" id="link" name="link">
							</div>


							<div class="form-group">
								<button type="button" class="btn btn-primary btn-lg" onclick="createLetter();">등록</button> <br/>
							</div>
						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
