<!-- <html> -->
<script type="text/javascript">
	$(document).ready(function() {

		goSearch();

		$('input').keydown(function(key) {
			if (key.keyCode == 13) {
				goSearch();
			}
		});
	});

	function deleteLetter(top_notice_no) {

		var res = confirm("정말 삭제하시겠습니까?");

		if (res == true) {
			$.ajax({
				type: "GET",
				url: "/api/topInfo/delete",
				dataType: "json",
				data: {
					"top_notice_no": top_notice_no,
				},
				success: function(response) {
					console.log(response);
					location.reload();
				},
				fail: function(data) {
					console.log("error data ", data)
				}
			});
		}
	}


	function goSearch() {
		$(".table").dataTable().fnDestroy()

		$('.table').DataTable({

			"serverSide": true,
			"ajax": {
				"url": "/api/topInfo/list",
				"data": {
					"title": $('#title').val(),
					"desc": $('#desc').val()
				}
			},
			"columns": [{
					"data": "top_notice_no"
				},
				{
					"data": "date"
				},
				{
					"data": "title"
				},
				{
					"data": "desc"
				},
				{
					"data": "link"
				},
				{
					"data": "add_dt_str"
				},
			],
			"ordering": true,
			"order": [0, "desc"],
			"searching": false,
			"columnDefs": [{
					"width": "10%",
					"render": function(data, type, row) {
						/*<![CDATA[*/
						resultLink = '<a href="/view/topInfo/modify?top_notice_no=' + data +
							// '&&date=' + row.date +
							// '&&title=' + row.title +
							// '&&desc=' + row.desc +
							// '&&link=' + row.link +
							'">' + data + '</a>';
						return resultLink;
						//return data;
						/*]]>*/
					},
					"targets": 0
				},
				{
					"render": function(data, type, row) {
						/*<![CDATA[*/
						tag = '<a href="' + row.link + '">' + row.link + '</a>'
						return tag;
						/*]]>*/
					},
					"targets": 4 // 링크
				},
				{
					"render": function(data, type, row) {
						/*<![CDATA[*/
						button = '<button type="button" class="btn btn-default" onclick="deleteLetter(' + row.top_notice_no + ')">삭제</button>'
						return button;
						/*]]>*/
					},
					"targets": 6 // 삭제버튼
				},
			],
			"drawCallback": function() {

				//console.log(response.json)
				var api = this.api();
				api.$('#editPopup').click(function() {
					var value = this.attributes["value"].value;
					setEditPopup(value);
				});

				api.$('#removePopup').click(function() {
					var value = this.attributes["value"].value;
					setRemovePopup(value);
				});
			}
		});
	}
</script>



<div id="page-wrapper">


	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">상단공지</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">

								<label>제목</label>
								<input class="form-control input" id="title" name="title">
							</div>
							<div class="form-group">
								<label>공지내용</label>
								<input class="form-control input" id="desc" name="desc">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group" style="float:right;">
								<button type="button" class="btn btn-default" onclick="goSearch();">검색</button> <br />
								<button type="button" class="btn btn-default" onclick="location.href='/view/topInfo/create'">등록</button> <br />
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>번호</th>
											<th>일정</th>
											<th>제목</th>
											<th>내용</th>
											<th>링크</th>
											<th>등록일시</th>
											<th>삭제</th>
										</tr>
									</thead>

								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
