<!-- <html> -->
<script type="text/javascript">
  function createLetter(){
    //var top_notice_no = $('#top_notice_no').val();
    var title = $('#title').val();
    var message = $('#message').val();


    dataMap = {
      notice_no: null,
      title: title,
      message: message,
    }

    $.ajax({
      type:"GET",
      dataType:"json",
      data:dataMap,
      url:"/api/notice/create",
      success: function(response){
        globalThis.responseObj = response;
          console.log("response.data: ",response.data);
          location.href = "/view/notice/list";
      },
      fail: function(data){
        console.log("error data: ",data);
      }
    })
  }

	$(document).ready(function() {

	});
</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">공지 등록 </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="top_notice_no" name="notice_no" disabled>
							</div>

							<div class="form-group">
								<label class="w120">제목</label>
								<input class="form-control input" id="title" name="title">
							</div>

							<div class="form-group">
								<label class="w120">내용</label>
								<input class="form-control input" id="message" name="message">
							</div>


							<div class="form-group">
								<button type="button" class="btn btn-primary btn-lg" onclick="createLetter();">등록</button> <br/>
							</div>
						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
