<!-- <html> -->
<script type="text/javascript">

$(document).ready(function(){
  var val_notice_no = "<%- notice_no %>";
  var notice_no = $('#notice_no').val(val_notice_no);

  dataMap = {
    notice_no: val_notice_no,
  };

  $.ajax({
    type:"GET",
    dataType:"json",
    data:dataMap,
    url:"/api/notice/selectItem",
    success: function(response){
      $('#title').val(response.data[0].title);
      $('#message').val(response.data[0].message);

    },
    fail: function(data){
      console.log("error data: ",data);
    }
  });



})

  function modifyLetter(){
    var notice_no = $('#notice_no').val();
    var title = $('#title').val();
    var message = $('#message').val();

    dataMap = {
      notice_no: notice_no,
      title: title,
      message: message,

    }

    $.ajax({
      type:"GET",
      dataType:"json",
      data:dataMap,
      url:"/api/notice/modify",
      success: function(response){
        globalThis.responseObj = response;
          console.log("response.data: ",response.data);
          location.href ="/view/notice/list";
      },
      fail: function(data){
        console.log("error data: ",data);
      }
    })
  }

	$(document).ready(function() {

	});
</script>


<div id="page-wrapper">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">공지 수정</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">

		<div class="col-lg-12">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
				<!-- /.panel-heading -->

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label class="w120">번호</label>
								<input class="form-control input" id="notice_no" name="notice_no" disabled>
							</div>


							<div class="form-group">
								<label class="w120">제목</label>
								<input class="form-control input" id="title" name="title">
							</div>

							<div class="form-group">
								<label class="w120">내용</label>
								<textarea cols="50" rows ="20" class="form-control input" id="message" name="message"></textarea>
							</div>


              <div class="form-group">
								<button type="button" class="btn btn-primary btn-lg" onclick="modifyLetter();">수정</button> <br/>
							</div>
						</div>

					</div>

					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
