<!-- <html> -->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script type="text/javascript">






  function createLetter() {
    //var cpLogo = $('#cpLogo').val();
    var title = $('#title').val();
    var desc = $('#desc').val();
    var link = $('#link').val();
    var img_path;


    new Promise(function(resolve, reject) {
      imageUpload(resolve, reject);
    }).then((res) => {
      // upload success
      img_path = res;

      dataMap = {
        title: title,
        desc: desc,
        link: link,
        img_path: img_path
      }


      $.ajax({
        type: "GET",
        dataType: "json",
        data: dataMap,
        url: "/api/cpLogo/create",
        success: function(response) {
          console.log("response.data: ", response.data);
          location.href = "/view/cpLogo/list";

        },
        fail: function(data) {
          console.log("error data: ", data);
        }
      });

    }).catch((err) => {
      // upload fail
      console.log(err);
      return err;
    });
  }



  //AWS S3 Setting
  var bucketName = '<%=config.info.s3_bucket%>';
  var bucketRegion = 'ap-northeast-2';
  var IdentityPoolId = 'ap-northeast-2:836df382-4633-4f5f-9e09-fa4ad2204706';

  AWS.config.update({
    region: bucketRegion,
    credentials: new AWS.CognitoIdentityCredentials({
      IdentityPoolId: IdentityPoolId
    })
  });

  var s3 = new AWS.S3({
    apiVersion: '2006-03-01',
    params: {
      Bucket: bucketName
    }
  });

  function readURL(input) {
    globalThis.input = input;
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        globalThis.e = e;
        $('#image_section').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }




  /*
    이미지 업로드
  */
  function imageUpload(resolve, reject) {
    let files = document.getElementById('file_loader').files;

    if (!files.length) {
      //fileUpload();
    } else {
      var file = files[0];
      var fileName = file.name;
      var ext = fileName.substring(fileName.lastIndexOf(".") + 1, fileName.length); //파일 확장자

      var timestap = getTimeStamp();
      var uploadKey = 'image/cplogo/' + timestap.substring(0, 8) + '/' + timestap + '_' + getRandomStr(6) + '.' + ext;

      var blob = dataURItoBlob($('#image_section').attr('src'));
      var f = new File([blob], fileName);

      //var uploadKey = key + fileName;
      var params = {
        Key: uploadKey,
        Body: f,
        ACL: 'private'
      };
      var options = {
        partSize: 10 * 1024 * 1024,
        queueSize: 1
      };

      s3.upload(params, options).on('httpUploadProgress', function(evt) {

        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
        //$('.progress-bar-success').css('width', percentComplete.toString() + '%').html(percentComplete.toString()+'%');
        console.log(percentComplete);

        console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total) + '%');

      }).send(function(err, data) {
        if (!err) {
          //alert('upload complete');

          //$('#image_path').val(uploadKey);
          //console.log(uploadKey);

          //fileUpload();
          console.log(data.Location);
          resolve(uploadKey); // "https://nemodax-upload-dev.s3.ap-northeast-2.amazonaws.com/"+ uploadKey;
        } else {
          reject(new Error("S3_UPLOAD_FAIL"));
        }
      });
    }
  }




  $(document).ready(function() {
    $("#file_loader").change(function() {
      readURL(this);
    });
    $("#upload_test").click(function() {
      imageUpload();
    })
  });
</script>


<div id="page-wrapper">

  <input type="hidden" name="image_path" id="image_path" value="" />
  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">CP 로고 등록 </h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-lg-12">

      <div class="panel panel-default">
        <!-- <div class="panel-heading">
                	STAR LIST
               	</div> -->
        <!-- /.panel-heading -->

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6">

              <div class="form-group">
                <label class="w120">번호</label>
                <input class="form-control input" id="cpLogo" name="cpLogo" disabled>
              </div>


              <div class="form-group">
                <label class="w120">제목</label>
                <input class="form-control input" id="title" name="title">
              </div>

              <div class="form-group">
                <label class="w120">내용</label>
                <textarea cols="50" rows="5" class="form-control input" id="desc" name="desc"></textarea>
              </div>

              <div class="form-group">
                <label class="w120">링크</label>
                <input class="form-control input" id="link" name="link">
              </div>

              <div class="form-group">
                <label class="w120">이미지</label>

                <input type="file" id="file_loader" name="file_loader" accept="image/*"> <br>
                <span>
                  <img src="" alt="" id="image_section" style="width:100px; height:100px">
                </span>
                <button type="button" id="upload_test" class="btn btn-primary btn-lg" onclick="" style="display:none">S3 업로드 테스트</button>
              </div>



              <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg" onclick="createLetter();">등록</button> <br />
              </div>
            </div>

          </div>

          <!-- /.panel -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
