<!-- <html> -->
<script type="text/javascript">
	$(document).ready(function() {

		goSearch();

		$('input').keydown(function(key) {
			if (key.keyCode == 13) {
				goSearch();
			}
		});
	});

	function deleteLetter(cplogo_no) {
		var res = confirm("정말 삭제하시겠습니까?");

		if (res == true) {

			$.ajax({
				type: "GET",
				url: "/api/cpLogo/delete",
				dataType: "json",
				data: {
					"cplogo_no": cplogo_no,
				},
				success: function(response) {
					console.log(response);
					location.reload();
				},
				fail: function(data) {
					console.log("error data ", data)
				}
			});
		}
	}

	function goSearch() {
		$(".table").dataTable().fnDestroy()

		$('.table').DataTable({
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "/api/cpLogo/list",
				"data": {
					"title": $('#title').val(),
					"desc": $('#desc').val()
				}
			},
			"columns": [{
					"data": "cplogo_no"
				},
				{
					"data": "title"
				},
				{
					"data": "desc"
				},
				{
					"data": "link"
				},
				{
					"data": "img_path"
				},
				{
					"data": "add_dt_str"
				},

			],
			"ordering": true,
			"searching": false,
			"columnDefs": [{
					"width": "10%",
					"render": function(data, type, row) {
						/*<![CDATA[*/
						resultLink = '<a href="/view/cpLogo/modify?cplogo_no=' + data +
							// '&&title=' + row.title +
							// '&&desc=' + row.desc +
							// '&&link=' + row.link +
							// '&&img_path=' + row.img_path +
							'">' + data + '</a>';
						return resultLink;
						//return data;
						/*]]>*/
					},
					"targets": 0
				},
				{
					"render": function(data, type, row) {
						/*<![CDATA[*/
						tag = '<a href="' + row.link + '">' + row.link + '</a>'
						return tag;
						/*]]>*/
					},
					"targets": 3 // 링크
				},
				{
					"render": function(data, type, row) {
						/*<![CDATA[*/
						tag = '<a href="' + row.img_path + '">' + row.img_path + '</a>'
						return tag;
						/*]]>*/
					},
					"targets": 4 // 이미지 url
				},
				{
					"render": function(data, type, row) {
						/*<![CDATA[*/
						button = '<button type="button" class="btn btn-default" onclick="deleteLetter(' + row.cplogo_no + ')">삭제</button>'
						return button;
						/*]]>*/
					},
					"targets": 6 // 삭제버튼
				},
			],
			"drawCallback": function(response) {
				console.log(response.json)
				var api = this.api();
				api.$('#editPopup').click(function() {
					var value = this.attributes["value"].value;
					setEditPopup(value);
				});

				api.$('#removePopup').click(function() {
					var value = this.attributes["value"].value;
					setRemovePopup(value);
				});
			}
		});
	}
</script>



<div id="page-wrapper">


	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">CP로고</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
           	STAR LIST
        </div> -->
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">

								<label>제목</label>
								<input class="form-control input" id="title" name="title">
							</div>
							<div class="form-group">
								<label>내용</label>
								<input class="form-control input" id="desc" name="desc">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group" style="float:right;">
								<button type="button" class="btn btn-default" onclick="goSearch();">검색</button> <br />
								<button type="button" class="btn btn-default" onclick="location.href='/view/cpLogo/create'">등록</button> <br />
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<!-- <div class="panel-heading">
                MEMBER LIST
            </div> -->
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>번호</th>
											<th>제목</th>
											<th>내용</th>
											<th>링크</th>
											<th>이미지</th>
											<th>등록일시</th>
											<th>삭제</th>
										</tr>
									</thead>

								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->
